
<ion-content>
 <app-tabs expand="full"></app-tabs>
 <app-header></app-header>
  <div #square  class="square"></div>
  <div class="header">
    <img src="assets/60.png" />
   
  </div>
      <ion-button (click)="empezar()">
Holo
      </ion-button>
      <div>
            <ion-input placeholder="Pregunta"></ion-input>
            <ion-button>1</ion-button>
            <ion-button>2</ion-button>
            <ion-button>3</ion-button>
            <ion-button>4</ion-button>
          </div>
          
          
     
      
 
</ion-content>
